# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

sudokuComponent/src/main/resources/solutions.txt
sudokuComponent/src/main/resources/solutionsFinal.txt