# Ignore Gradle project-specific cache directory
.gradle
gradle

# Ignore Gradle build output directory
build

.idea

master/src/main/resources/solutions.txt
master/src/main/resources/solutionsFinal.txt